.edit-profile-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    max-width: 800px;
  }

  .edit-profile-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .membership-type {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      button {
        flex: 1;
        padding: 10px;
        margin: 0 5px;
        background-color: white;
        color: #fe9a00;
        border: 1px solid #fe9a00;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: #e68a00;
          color: white;
        }

        &.active {
          background-color: #fe9a00;
          color: white;
        }
      }
    }

    .form-group {
      margin-bottom: 10px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input,
      select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    }

    .form-group-inline {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      .inline-input {
        flex: 1;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        label {
          display: block;
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }
    }

    .error {
      color: red;
      font-size: 0.9em;
      margin-top: 5px;
    }

    button[type='submit'] {
      width: 100%;
      padding: 10px;
      background-color: #fe9a00;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #fe7a00;
      }
    }
  }
}

@media (max-width: 1200px) {
  .edit-profile-page {
    padding: 15px;

    h1 {
      font-size: 1.8em;
    }

    .edit-profile-container {
      width: 90%;
      max-width: 400px;
    }
  }
}

@media (max-width: 768px) {
  .edit-profile-page {
    h1 {
      font-size: 1.6em;
    }

    .edit-profile-container {
      padding: 15px;
    }
  }
}

@media (max-width: 480px) {
  .edit-profile-page {
    h1 {
      font-size: 1.5em;
    }

    .edit-profile-container {
      padding: 10px;
    }
  }
}
