.wrap-container-header {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-width: 1200px;

  @media (max-width: 480px) {
    min-width: 0;
  }
}

.header-container {
  min-height: 9vh;
  width: 1200px;
  border: 1px solid pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  @media (max-width: 480px) {
    width: 100vw;
  }

  .logo-container img {
    height: 9vh;

    @media (max-width: 480px) {
      padding: 1vh 0;
      width: 140px;
    }

    @media (min-width: 480px) {
      width: 180px;
      padding: 10px 0;
    }
  }

  .menu-container {
    display: flex;
    div:nth-child(1) {
      margin-right: 10px;
    }

    div:nth-child(2) {
      margin-right: 10px;
    }

    @media (max-width: 480px) {
      div:nth-child(1) {
        margin-right: 2vw;
      }

      div:nth-child(2) {
        margin-right: 2vw;
      }
    }
  }
}
