.wrap-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-width: 1200px;
  @media (max-width: 480px) {
    min-width: 0;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}

.order-history-container {
  border: 2px solid blueviolet;
  border-radius: 20px;
  min-height: 700px;
  max-width: 1100px;
  overflow: hidden;
  @media (max-width: 480px) {
  }
}

.menu-tab-container {
  display: flex;
  height: 50px;
}

.menu-tab-1 {
  width: 140px;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media (max-width: 480px) {
    width: 20vw;
  }
}

.menu-tab-2 {
  width: 140px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media (max-width: 480px) {
    width: 20vw;
  }
}

.receipt-card-container {
  // border: 1px solid red;
  display: flex;
  width: 100%;
  padding: 4px;
  flex-wrap: wrap;
}

.receipt-card {
  border: 2px solid green;
  border-radius: 10px;
  width: 33%;
  margin: 0.16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  .custom-icon {
    font-size: 30px;
  }

  @media (max-width: 480px) {
    width: 49.68%;
  }
}

.receipt-card-list {
  border: 2px solid #e1e1e1;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  position: relative;

  li:first-child {
    position: absolute;
    margin-top: 2px;
    left: 92%;
    transform: translateX(-50%);
    cursor: pointer;
    .custom-icon {
      font-size: 26px;
      width: 24px;
      opacity: 40%;
    }
    .custom-icon:hover {
      opacity: 100%;
    }
  }

  li:nth-child(2) {
    order: -1;
    margin-top: 2px;
  }

  @media (max-width: 480px) {
    li:first-child {
      left: 89%;
      margin-top: 2px;
    }
    .custom-icon {
      font-size: 22px;
    }
  }
}
